@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
}

.text {
    font-family: "Times New Roman", Times, serif;
}
.PHINMA {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin-top: 0px;
}

@media (max-width: 991px) {
    .PHINMA{
        font-size: 30px;
    }
}

.UPANG {
    font-size: 20px; 
    text-align: center;
    margin-top: -20px;
}

@media (max-width: 991px) {
    .UPANG{
        font-size:20px;
    }
}

.MAIN {
    font-size: 18px;
    text-align: center;
    margin-top: -15px;
}

@media (max-width: 991px) {
    .MAIN{
        font-size:15px;
    }
}

.upanglogo {
    height: 75px;
    width: 75px;
}

@media (max-width: 991px) {
    .upanglogo{
        height: 100px;
        width: 100px;
    }
}

.dropdown-menu {
    width: 100%; 
    height: auto; 
}
  
.dropdown-menu.active {
    display: flow-root;
    background-color: rgba(255, 255, 255, 1);
    margin-top: -1px;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
  
.dropdown-menu ul {
    align-items: center; 
    margin: 0;
    display: flex;
    flex-direction:row;
}

.dropdown-menu li {
    text-align: center;
    width: 100%;
}

.dropdown-menu a {
    color: black;
    text-decoration: none;
    display: block;
    font-size: 20px;
    width: 100%;
    font-family: "Times New Roman", Times, serif;
}

.dropdown-menu a:hover {
    color: #374922;
    text-decoration: none;
}

.hamburger {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: transform 0.2s, opacity 0.3s;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

/* carousel */
.carousel{
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.carousel .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}

.carousel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .list .item .content{
    position: absolute;
    top: 5%;
    max-width: 45%;
    height: 450px; /*di paq shor*/
    left: 5%;
    transform: translateX(-5%);
    box-sizing: border-box;
    color: #fff;
    box-shadow: 10px 10px 10px 0px #000;
    background-color: rgba(0, 0, 0, 0.5); 
    padding-left: 20px;
    padding-right: 20px;
}

.carousel .list .item .content .title{
    font-size: 48px;
    font-weight: bold;
}

@media (max-width: 375px) {
    .carousel .list .item .content {
        font-size: 15px;
        height: 200px;
        max-width: 100%;
    }

    .carousel .list .item .content {
        font-size: 12px;

    }
}

/* thumbail */
.thumbnail{
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: max-content;
    z-index: 100;
    gap: 20px;
    display: flex !important; /*ganto pre nag para hindi banggain ng design ng web putang web yan*/
    background: transparent !important;
    border: 0px !important; 
}

.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.thumbnail .item .content{
    color: #fff;
    width: 100%;
    position: absolute; 
    box-shadow: 10px 10px 10px 0px #000;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 0 0 20px 20px;
    height: 20px;
}

.thumbnail .item .content .title{
    font-weight: 600;
    font-size: 10px;
    align-items: center;
    text-align: center;
}

@media (max-width: 375px) {
    .thumbnail {
        position: absolute;
        bottom: 150px;
        gap: 125px;
        left: 25%;
    }

    .thumbnail .item{
        width: 150px;
        height: 170px;
        flex-shrink: 0;
        position: relative;
    }

    .arrows{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* arrows */
.arrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}

.arrows button:hover{
    background-color: #fff;
    color: #000;
}

/* animation */
.carousel .list .item:nth-child(1){
    z-index: 1;
}

/* animation text in first item */
.carousel .list .item:nth-child(1) .content .title, /*finull na kasi di gumagana nung una*/
.carousel .list .item:nth-child(1) .content .des {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}

@keyframes showContent {
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.carousel .list .item:nth-child(1) .content .title {
    animation-delay: 1.2s;
}

.carousel .list .item:nth-child(1) .content .des {
    animation-delay: 1.6s;
}

/* create animation when next click */
.carousel.next .list .item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}

@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1) {
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}

.carousel.prev .list .item img {
    z-index: 100;
}
@keyframes showThumbnail {
    from{
        width: 0;
        opacity: 0;
    }
}

.carousel.next .thumbnail {
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext {
    from{
        transform: translateX(150px);
    }
}

/* running time */
/* .carousel .time {
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    left: 0;
    top: 0;
}

.carousel.next .time,
.carousel.prev .time {
    animation: runningTime 3s linear 1 forwards;
}

@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
} */


/* prev click */
.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}

@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

@media screen and (max-width: 678px) {
    .carousel .list .item .content{
        padding-right: 0;
    }
    .carousel .list .item .content .title{
        font-size: 30px;
    }
}

